root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json,md}]
indent_size = 2

[*.{xml,csproj,props,targets}]
indent_size = 2

[*.{bat,cmd}]
end_of_line = crlf

[Makefile]
indent_style = tab

[*.cs]
indent_size = 4

# Namespace settings
csharp_style_namespace_declarations = file_scoped:suggestion

# 'var' usage
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:silent

# Expression-bodied members
csharp_style_expression_bodied_methods = when_on_single_line:silent
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion

# Prefer pattern matching
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion

# Using directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Code-block preferences
csharp_prefer_braces = true:suggestion
csharp_new_line_before_open_brace = all

# Naming
dotnet_naming_rule.interfaces_start_with_i.severity = suggestion
dotnet_naming_rule.interfaces_start_with_i.symbols = interface_symbols
dotnet_naming_rule.interfaces_start_with_i.style = prefix_i
dotnet_naming_symbols.interface_symbols.applicable_kinds = interface
dotnet_naming_style.prefix_i.required_prefix = I
dotnet_naming_style.prefix_i.capitalization = pascal_case
